@import url(./scss/reset.scss);
@import url(./scss/progressBar.scss);
@import url(./scss/vault.scss);
@import url(./scss/build.scss);
@import url(./scss/market.scss);

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .resourcesConteiner {
    display: flex;
    flex-direction: column;
    border: 2px solid #1a1a1a;
    border-radius: 25px;
    width: 85vw;
    margin: 0 auto;
    h1 {
      margin: 15px auto;
      font-weight: bolder;
      font-size: x-large;
    }
  }