.marketContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border: 2px solid #1a1a1a;
    border-radius: 25px;
    width: 85vw;
    margin: 15px auto;

    h1 {
        margin: 15px auto;
        font-weight: bolder;
        font-size: x-large;
    }
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #1a1a1a;
        width: 80vw;
        margin-bottom: 15px;

        button {
            margin: 5px 5px;
        }
    }
}