.vaultContainer {
    border: 1px solid transparent;
    width: 100vw;
    // position: absolute;
    // top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1a1a1a;
    box-shadow: 0 10px 8px black;

    padding: 5px 0;
    margin-bottom: 20px;

    .resources {
        display: flex;
        gap: 5px;
    }
    .workers {
        display: flex;
        gap: 5px;
        margin-top: 5px;
    }
}