.build {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $secondary-color;
    border-radius: 15px;
    margin: 20px auto;
    width: 80vw;

    h2{
        margin: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: black;
    }
    &__container {
        display: flex;
        gap: 20px;

        .build__element {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid $secondary-color;
            border-radius: 15px;

            width: 20%;
            flex-grow: 1;
            height: 160px;

            margin: 10px auto;

            h3 {
                margin: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                text-shadow: black;
            }

            p {
                margin: 10px;
                font-size: 1rem;
                text-shadow: black;
            }

            button {
                margin: 10px;
                padding: 10px;
                background-color: $button-color;
                color: $font-color;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: darken($button-color, 20%);
                }
            }
        }
    }
}