.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;

    padding: 15px 5px;

    .header__title {
        font-size: 2rem;
        font-weight: 700;
        color: $font-color;
        text-shadow: 2px 2px 2px black;
    }
}