.progressBar__container {
    border: 1px solid $secondary-color;
    width: 80vw;
    height: 20px;

    position: relative;

    cursor: pointer;
    

    .progressBar__progress__fill {
        background-color: red;
        height: 100%;
        width: 0;
    }

    .progressBar__value {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}